    <br>
    <% @todos.each do |todo| %>
        <div class='card card-body bg-light'>
            <div>
            <p> Detalles: <%= todo.description %> </p>
            <p> ¿Completada?: 
                <% if todo.completed == true %> 
                Si, por supuesto.
                <% else %>
                No, pendiente.
                <% end %> </p>
            </div>
            <div>
                <%= link_to 'Show', todo, class:'btn btn-warning btn-sm' %>
                <%= link_to 'Edit', edit_path(todo) %>
                <%= link_to 'borrar', todo, method: :delete %>
            </div>

        </div>
    <% end %>
    
    <br><%= link_to 'Crear ToDo', todos_new_path, class: 'btn btn-secondary' %>